* {
    margin: 0;
    padding: 0;
  }
  
  .avatar {
    width: auto;
  }
  
  .content,
  .btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .content {
    height: 100vh;
    justify-content: center;
  }
  
  .btnGroup {
    padding-bottom: 100px;
  }
  