.App {
  height: 100%;
}
.hidden {
  display: none;
}
._content_12ns1_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/mainbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  gap: 40px;
  flex: 1;
  font-family: Inter, Sans-serif;
}

._content_12ns1_1 img {
  width: 70%;
  max-width: 600px;
}

._content_12ns1_1 h1 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

._playBtn_12ns1_27 {
  width: 200px;
  height: 60px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 600;
  background-color: #ee5520;
}
._content_1kiir_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

h1,
p {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}
.login-form {
  margin: 0 auto;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
form#register {
  margin: 0 auto;
  max-width: 600px;
}
/* styles.module.css */

._container_199fl_3 {
  position: relative;
  width: 100px;
  height: 100px;
}

._avatarImage_199fl_9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}

._text_199fl_17 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 50%;
  font-size: 20px;
}

._userpicHover_199fl_28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

._userpicHover_199fl_28 label {
  cursor: pointer;
}

._userpicHover_199fl_28 label input {
  display: none;
}

._container_199fl_3:hover ._userpicHover_199fl_28 {
  opacity: 1;
}
* {
  margin: 0;
  padding: 0;
}

._avatar_5mdh9_6 {
  width: auto;
}

._content_5mdh9_10,
._btnGroup_5mdh9_11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

._content_5mdh9_10 {
  height: 100vh;
  justify-content: center;
}

._btnGroup_5mdh9_11 {
  padding-bottom: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://playimaginarium.cosmodrome.games/_nuxt/img/main-bg.150152a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  gap: 40px;
  flex: 1;
  font-family: Inter, Sans-serif;
}

.layers {
  position: relative;
  margin-top: 0px;

  & .layer {
    position: absolute;
    left: 0;
    top: 0;
  }

  & .layer1 {
    z-index: 0;
  }

  & .layer2 {
    z-index: 1;
  }

  & .layer3 {
    z-index: 2;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.w100 {
  width: 1000px;
}
.mb-footer {
  margin-bottom: 40px;
}

.mb-row {
  margin-bottom: 20px;
}
.mt-divider {
  margin-top: 50px !important;
}
.leaderboard {
  min-width: 320;
  & table {
    margin: 40px 0;
  }

  .ant-avatar {
    border: 1px solid #dedede;
    margin-right: 5px;
  }
}
.forum {
  padding: 48px 48px;
  text-align: left;

  .login {
    font-weight: 700;
    padding: 0 10px;

    &.active {
      color: rgba(39, 104, 2, 0.65) !important;
    }
  }

  & .button-add {
    margin-top: 40px;
    text-align: right;
  }

  & .button-more {
    text-align: right;
  }

  & .divider {
    margin-bottom: 40px;
  }
}

.forum-topic-list {
  .ant-list-item {
    padding: 16px 0;
  }

  .ant-avatar {
    border: 1px solid #dedede;
    margin-right: 5px;
  }

  .anticon {
    padding: 0 2px;
  }

  .box-info-icon {
    min-width: 100px;
    vertical-align: top;
    text-align: left;
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
  }

  .box-topic-preview {
    color: rgba(0, 0, 0, 0.45);
    vertical-align: middle;

    & .box-content {
      background-color: #fff;
      padding-bottom: 25px;
      border-bottom: 1px dashed #e7eaec;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 20px;
    }

    & .info-create {
      padding: 10px 0;
      font-size: smaller;
      line-height: 2;

      & div {
        padding: 0 10px;
        border-left: 1px dashed #e7eaec;
      }

      & div:first-child {
        padding-left: 0;
        border-color: transparent;
      }
    }
  }

  .box-last-comment {
    color: rgba(0, 0, 0, 0.45);
    font-size: inherit;
    line-height: 1.5;
    text-align: left;

    & .title {
      color: rgba(0, 0, 0, 0.65);
      font-size: smaller;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
    }

    & .text {
      font-size: smaller;
    }
  }
}
._content_1kiir_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

h1,
p {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}
.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
